@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;600;700&family=Lato:wght@300;900&family=Manrope:wght@400;500;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
font-family: 'Inter', sans-serif;
}

.container-main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap:20px;
}
.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}
@media screen and (max-width: 570px) {
    .container-main{
        grid-template-columns: 1fr;
    }
    .card-container{
        grid-template-columns: 1fr;
    }
    .one{
        order: 1;
    }
    
}
@media screen and (min-width: 570px) {
    .container-main{
        grid-template-columns: 2fr 1fr;
    }
    .card-container{
        grid-template-columns: 1fr ;
    }
}

@media screen and (min-width: 860px) {
    .container-main{
        grid-template-columns: 2fr 1fr;
    }
    .card-container{
        grid-template-columns: 1fr 1fr ;
    }
}
@media screen and (min-width: 1260px) {
    .container-main{
        grid-template-columns: 3fr 1fr;
    }
    .card-container{
        grid-template-columns: 1fr 1fr 1fr ;
    }
}